<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #contents {
            width: 800px;
            height: 400px;
        }

        button {
            padding: 10px 20px 10px 20px;
            background-color: orange;
        }
    </style>
</head>
<body>
    <h1>게시글 업로드</h1>
    <h3>사용자 이름</h3>
    <input id="user" type="text">
    <h3>제목</h3>
    <input id="title" type="text">
    <h3>본문</h3>
    <input id="contents" type="text">
    <h3>추가할 태그</h3>
    <h4>기존 태그 선택 하기</h4>
    <div id="tagList"></div>
    <h4>새로 입력하기</h4>
    <input id="tag1" type="text">
    <input id="tag2" type="text">
    <input id="tag3" type="text">

    <br/><br/>
    <button id="button">게시글 쓰기</button>

    <script>
        let button = document.getElementById("button");
        button.addEventListener("click", (e) => {
            let user;
            let title;
            let contents;

            let tag1;
            let tag2;
            let tag3;

            let oldTagIds = [];

            new Promise((resolve, reject) => {
                user = document.getElementById("user").value;
                title = document.getElementById("title").value;
                contents = document.getElementById("contents").value;

                tag1 = document.getElementById("tag1").value;
                tag2 = document.getElementById("tag2").value;
                tag3 = document.getElementById("tag3").value;

                for(let i = 0; i < tagIds.length; i++){
                    let tag = document.getElementById(`${tagIds[i]}`);

                    if(tag.checked) oldTagIds.push(tagIds[i]);
                }

                resolve("성공");
            })
                .then((message) => {
                    axios.post("/api/post", {
                        title: title,
                        contents: contents,
                        user: user,
                        newTagNames: [
                            tag1, tag2, tag3
                        ],
                        oldTagIds: oldTagIds
                    }).then((value) => {
                        alert("게시물 업로드에 성공하였습니다");
                        window.location.href = `http://${window.location.host}`;
                    });
                });
        });
    </script>
    <script>
        let tagIds = [];
        const fetchTag = () => {
            let tagList = document.getElementById("tagList");

            axios.get('/api/tag')
                .then((res) => {
                    return res.data;
                })
                .then((data) => {
                    let blogTags = data.data;
                    console.log(blogTags);
                    for (let i = 0; i < blogTags.length; i++) {
                        let tagItem = document.createElement("input");
                        tagIds.push(blogTags[i].id);
                        tagItem.setAttribute("id", `${blogTags[i].id}`);
                        tagItem.setAttribute("type", "checkbox");
                        tagItem.setAttribute("value", `${blogTags[i].name}`);

                        let text = document.createElement("span");
                        text.innerHTML = `${blogTags[i].name}`;

                        tagList.appendChild(tagItem);
                        tagList.appendChild(text);
                    }
                })  ;
        };

        fetchTag();
    </script>
</body>
</html>